@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');
.pokemon-name {
    text-transform: capitalize;
    font-family: 'Livvic', sans-serif;
    font-weight: bold;
    padding-bottom: 5px;
    color: white;
}

a {
    text-decoration: none;
}

.stats {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    color: white;
    font-size: 1em;
}

.poke-item {
    text-align: center;
    align-items: center;
    justify-content: space-around;
    height: 220px;
    padding: 10px;
    border: 1px solid #393131;
    background-color:#8b8b8b;
    box-shadow: 0 8px 6px -6px black;
    margin: 10px;
    list-style: none;
}

.image-container {
    height: 55%;
}

.image-container img {
    height: 100%;
    object-fit: contain;
}