* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-color: #52525a;
}

footer {
    background-color: #205283;
    height: 30px;
}